@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --dark: #0d1b2a;
  --dark-blue: #1b263b;
  --blue: #415a77;
  --light-blue: #778da9;
  --almost-white: #e0e1dd;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--almost-white);
    background: var(--dark);
  }
}

body {
  color: var(--almost-white);
  background: var(--dark);
}
